# Redireciona HTTP → HTTPS
# http:// {
#     redir https://{host}{uri}
# }

# Proxy para o frontend

:80 {

    handle /api* {
        reverse_proxy backend:8000
    }

    handle /static/admin* {
        reverse_proxy backend:8000
    }

    handle /admin* {
           reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:9000
    }

    log {
        output stdout
    }
}
